[Unit]
Description=Start NPM and Firefox on boot
After=network.target

[Service]
Type=simple
User=pi
ExecStartPre=/usr/bin/xinit
ExecStart=/bin/bash -c 'cd /home/pi/Projects/openSongPrompt && npm run dev'
ExecStartPost=/usr/bin/firefox http://localhost:5173

[Install]
WantedBy=default.target
